@charset "UTF-8";

/*fonts*/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic-webfont.eot');
    src: url('../fonts/raleway-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff'),
         url('../fonts/raleway-italic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-italic-webfont.svg#ralewayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*global*/
* {
margin: 0;
}

html {
height: 100%;
background-color: #f4f4f4;
}

body {
min-height: 100%;
height: auto !important;
}

h1 {
	font-family: 'ralewayregular', Helvetica, sans-serif;
	font-size: 28px;
	color: #ee7830;
	margin-bottom: 30px;
}

h2 {
	font-family: 'ralewayregular', Helvetica, sans-serif;
	font-size: 26px;
	color: #000000;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}


/*transitions*/
* {
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;	
}


/*box-sizing*/
* {
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/*content*/
.couponlpwrap {
width: 460px;
height: 100%;
padding-top: 100px;
margin: 0 auto;
text-align: center;
}

#couplplogo {
	width: 100%;
	margin-bottom: 30px;
}

#couplplogo img {
	width: 250px;
	
}

/*form fields*/
#codeform {
	width: 250px;
	margin: 0 auto;
}

input {
width: 100%;
padding: 2px 5px;
height: 23px;
margin-bottom: 8px;
background-color: #ffffff;
border: none;
font-family: Helvetica, sans-serif;
font-size: 14px;
text-align: center;
color: #000000;
}

::-webkit-input-placeholder {
   color: #999999;
}

::-moz-input-placeholder {
   color: #999999;
}

::-o-input-placeholder {
   color: #999999;
}

::-ms-input-placeholder {  
  color: #999999;
}

/*buttons*/
button {
width: 100px;
height: 23px;
padding: 2px 5px;
cursor: pointer;
font-family: Helvetica, sans-serif;
font-size: 14px;
color: #ffffff;
border: 1px solid #c56426;
background-color: #ee7830;
}

button:hover {
-moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);	
}

/*redemption*/
#redempstats {
width: 100%;
padding: 25px;
margin: 100px 0;
background-color: #ffffff;
border: 9px solid #01aef0;
-webkit-box-shadow: 5px 5px 21px 0px rgba(0,0,0,.17);
-moz-box-shadow: 5px 5px 21px 0px rgba(0,0,0,.17);
-o-box-shadow: 5px 5px 21px 0px rgba(0,0,0,.17);
-ms-box-shadow: 5px 5px 21px 0px rgba(0,0,0,.17);
box-shadow: 5px 5px 21px 0px rgba(0,0,0,.17);
}

.redempbox {
width: 21.951219512195% /*90/410*/;
height: 90px;
padding-top: 25px;
margin-right: 04.065040650407% /*16.66666666666667/410*/;
border: 1px solid #e2e4e5;
float: left;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#cancbox {
	margin-right: 0;
}

#redempstats:after {
	content: "";
	display: block;
	clear: both;
}


@media (max-width:500px) {
    .couponlpwrap {
        width: 92% /*460px/500*/;
        padding: 50px 4% 0 4% /*20/500*/;
    }

    /*redemption*/
    #redempstats {
        margin: 50px 0;
    }

    .redempbox {
        width: 48.260869565217% /*444/460*/;
        margin-bottom: 16px;
    }

    #circbox, #cancbox {
        margin-right: 0;
    }

    #redbox, #queuebox {
        margin-right: 03.478260869565% /*16/460*/;
    }

}




