@charset "UTF-8";
/*fonts*/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic-webfont.eot');
    src: url('../fonts/raleway-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff'),
         url('../fonts/raleway-italic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-italic-webfont.svg#ralewayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*global*/
* {
margin: 0;
}

html, body {
height: 100%;
background-color: #efefef;
}

body.indexbg .mainwrap, body.rcbg .mainwrap, body.infographicbg .mainwrap, body.innerbg .mainwrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -45px;
background-position: top left;	
}

body.indexbg .mainwrap, body.infographicbg .mainwrap, body.innerbg .mainwrap {
background-image: url(../images/chalkboardbg.jpg);
}

body.infographicbg .mainwrap, body.innerbg .mainwrap {
background-size: cover;
}

body.rcbg .mainwrap {
background-image: url(../images/fridgedoor.jpg);
background-attachment: scroll;
background-size: 100%;
background-repeat: no-repeat;
background-color: #e5e5e5;
}

ol,ul,li {
	list-style:none;
}

p {
font-family: Helvetica, sans-serif;
font-size: 14px;
line-height: 18px;
color: #666666;
}

#buslogos p{
text-align: center;
font-style: italic;
margin-bottom: 8px;
}

.rewardbox p {
	margin-bottom: 10px;
}

.redempbox p {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}

.white {
color: #ffffff;
}

.black {
color: #000000;
}

span.pointshighlight {
font-family: 'ralewaylight', Helvetica, sans-serif;
color: #13cf56;
font-size: 1.5em;
font-weight: bolder;
text-shadow: 2px 2px 0px #3b9a47;		
}

.navpoints span.pointshighlight {
text-shadow: 2px 2px 0px #f4f4f4;
}

.rewardbox span.pointshighlight {
text-shadow: 1px 1px 0px #3b9a47;
}

/*links*/
a.plink {
	color: #ee7830;
	text-decoration: none;	
}

a.plink:visited {
}

a.plink:hover {
	color: #ee7830;
	border-bottom: 1px dotted #ee7830;	
}

a.plink:hover, a.plink:focus, a.plink:active {
	color: #ee7830;
	text-decoration: none;	
}

a.plinkwhite {
	color: #ffffff;
	text-decoration: none;	
}

a.plinkwhite :visited {
}

a.plinkwhite:hover, a.plinkwhite:focus, a.plinwhite:active {
	color: #ee7830;
	border-bottom: 1px dotted #ee7830;	
}

/*head tags*/
h1 {
	font-family: 'bebas_neueregular', Helvetica, sans-serif;
	font-size: 103px;
	line-height: 90px;
	text-align: center;
	margin: 0;	
}

h1.orange {
	color: #ee7830;
	text-shadow: 3px 3px 0px rgba(0,0,0,.1);	
}

h1.blue {
	color: #01aef0;
	text-shadow: 3px 3px 0px rgba(0,0,0,.1);
}

h1.whiteblue {
	color: #ffffff;
	text-shadow: 3px 3px 0px rgba(38, 144, 190, 1);
}

h1.whiteltgray {
	color: #ffffff;
	text-shadow: 3px 3px 0px rgba(0,0,0,.2);
}

h1.whitedkgray {
	color: #ffffff;
	text-shadow: 3px 3px 0px rgba(255,255,255,.2);
}

h1.whitedkorange {
	color: #ffffff;
	text-shadow: 3px 3px 0px #c56426;	
}

#sublock h1, #liblock h1 {
	font-size: 40px;
	line-height: 40px;
}

#infographicpancnt h1 {
	white-space: nowrap;
	line-height: normal;
}

#regpancnt h1 {
	margin-bottom: 50px;	
}

#myclassespancnt h1, .indclassespancnt h1 {
	font-size: 90px;
	margin-bottom: 30px;
}

#rewcentpancnt h1 {
	margin-bottom: 18px;	
}

.rewarddetcol h1 {
	margin-bottom: 15px;	
	font-size: 60px;
	line-height: 60px;
}

#regpancnt h1, #myacctpancnt h1, #manage h1 {
	margin-bottom: 30px;	
	font-size: 60px;
	line-height: 64px;
}

#redempstats h1 {
	font-family: 'ralewayregular', Helvetica, sans-serif;
	font-size: 28px;
	line-height: 1.1em;
	color: #ee7830;
	margin-bottom: 30px;
}

h2 {
	font-family: 'ralewaylight', Helvetica, sans-serif;
	font-size: 33px;
	line-height: 45px;
	color: #ffffff;
	text-align: center;	
}

#redempstats h2 {
	font-family: 'ralewayregular', Helvetica, sans-serif;
	font-size: 26px;
	color: #000000;
}

h3 {
	font-family: 'ralewaylight', Helvetica, sans-serif;
	font-size: 30px;
	line-height: 36px;
	color: #666666;
	text-align: center;	
}

h3.orange {
	color: #ee7830;
}

#aboutcnt h3 {
	margin-bottom: 10px;
}

#regbannertype h3 {
	color: #ffffff;
	margin: 50px 0 0 0;
}

.regthird h3 {
	text-align: left;
	margin-bottom: 15px;
}

.rewardinfo h3 {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 15px;
}

h4 {
	font-family: 'ralewayitalic', Helvetica, sans-serif;
	font-size: 22px;
	color: #666666;
	text-align: center;	
}

#regbannertype h4 {
	color: #666666;
	line-height: 28px;
}


h5 {
	font-family: 'ralewaylight', Helvetica, sans-serif;
	font-size: 21px;
	line-height: 25px;
	color: #ee7830;
	text-align: center;
}

#logoutmodal h5, #loginmodal h5 { 
    color: #ffffff;
	margin-bottom: 15px;
}

h6	{
	font-family: 'ralewaylight', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #999999;
	text-align: center;	
}

#logoblock h6 {
	color: #000000;
	margin-bottom: 25px; 
}

#sublock h6, #liblock h6 {
	margin-bottom: 15px;
}

.reviewrow h6 {
	color: #01aef0;
	text-align: left;
	margin-bottom: 15px;
}

.rewardbox h6{
	color: #666666;
	margin-bottom: 10px;
}

/*box-sizing*/
nav, .responsive-menu, .responsive-menu ul, input, button, select, .customSelect, .smbtn, .smbtnblue, .smbtnredmodal, .smbtngreenmodal, .managebtn, .classdetbtn, a.getdetailsbtn, .redeemnowbtn a, a.backrewbtn, #logoblock, #sublock, #liblock, #learnblock, #myacctblock, #regbannercal, .rewardbox, .rewardboxlg, .rewarddetcol, #userinfomanage, .listtable, .listtabletitle, .listtablerow, .classlisttable, .classlisttabletitle, .classlisttablerow, .rcrimg, .classescol1, .classescol2, #redempstats, .redempbox {
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/*transitions*/
h1, h2, h3, h4, h5, h6, .smbtn, .smbtnblue, .smbtnredmodal, .smbtngreenmodal, .managebtn, .classdetbtn, #mainlearnbtn a, #myacctbtn a, #mainfindrewbtn a, a.getdetailsbtn, .redeemnowbtn a, a.backrewbtn, .navlogo, .navlogo a, .navlogo a img, #regbannertype a, #studentscirc, #teacherscirc, #parentscirc, #businessescirc, a#myclasses, a#enrollinclass, a#viewassign, a#myrewards, .classlisttabletitle, #redempstats, .redempbox {
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateZ(0); /*removes text flicker on safari*/	
}

/*border radius*/
input, button, select, .custom-dropdown, .customSelect, .smbtn, .smbtnblue, .smbtnredmodal, .smbtngreenmodal, .managebtn, .classdetbtn, #mainlearnbtn a,  #myacctbtn a, #mainfindrewbtn a, a.getdetailsbtn, .redeemnowbtn a, a.getdetailsbtn, a.backrewbtn, #userinfomanage, .listtable, .classlisttable, .rcrimg {
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

/*rounded corner images*/
.rcrimg {
	display: block;
	width: 100%;
	border: 1px solid #4d5155;
	background-size: cover;	
	background-position: center;	
}

	
/*lists & list template*/
.listtable, .classlisttable {
	width: 100%;
	height: auto;
	border: 1px solid #4d5155;
}

.classlisttable {
	text-align: center;
}

.listtabletitle, .listtablerow, .classlisttabletitle, .classlisttablerow {
	width: 100%;
	height: 40px;
}

.listtabletitle, .classlisttabletitle {
padding: 10px 0 0 0;
text-align: center;
font-family: 'ralewaylight', Helvetica, sans-serif;
font-size: 18px;
line-height: 22px;
color: #ffffff;
border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-ms-border-radius: 5px 5px 0px 0px;
-o-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
background-color: #01aef0;
}

.listtablerow, .classlisttablerow {
	border-top: 1px solid #4d5155;
}

.listitemname {
	padding: 13px 0 0 15px; 
	float: left;
}

.listviewbutton {
	padding: 8px 8px 0 0; 
	float: right;
}

.listviewbutton:after {
	content: "";
	display: block;
	clear: both;	
}

.classlisttablerow {
	padding-top: 13px; 
}


/*form fields*/
input {
padding: 2px 5px;
height: 23px;
background-color: #ffffff;
border: none;
font-family: Helvetica, sans-serif;
font-size: 14px;
color: #000000;
}

::-webkit-input-placeholder {
   color: #999999;
}

::-moz-input-placeholder {
   color: #999999;
}

::-o-input-placeholder {
   color: #999999;
}

::-ms-input-placeholder {  
  color: #999999;
}


/*general dropdown*/
.customSelect {
padding: 2px 3px;
height: 23px;
width: 200px;
background-color: #ffffff;
border: none;
font-family: Helvetica, sans-serif;
font-size: 14px;
color: #787878;
opacity:1;
-moz-appearance: none;
-webkit-appearance: none;

}

.custom-dropdownBlue, .custom-dropdownOrange {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.custom-dropdownBlue:before, .custom-dropdownBlue:after, .custom-dropdownOrange:before, .custom-dropdownOrange:after {
    content: "";
    pointer-events: none;
    position: absolute;
}

.custom-dropdownBlue:after, .custom-dropdownOrange:after {
    font-size: 0.625em;
    height: 1em;
    line-height: 1;
    margin-top: -0.5em;
    right: 1.2em;
    top: 50%;
    color:#fff;
}

.custom-dropdownBlue:before {
    bottom: 0;
    right: 0;
    top: 0;
    width: 2em;
    background: url(../images/downblue.png) right no-repeat;
}

.custom-dropdownOrange:before {
    bottom: 0;
    right: 0;
    top: 0;
    width: 2em;
    background: url(../images/downorange.png) right no-repeat;
}


/*buttons*/
.smbtn, .smbtnblue, .smbtngreenmodal, .smbtnredmodal {
font-family: Helvetica, sans-serif;
font-size: 14px;
color: #ffffff;
padding: 2px 5px;
height: 23px;
cursor:pointer;
}

.smbtn {
width: 100px;
display: inline-block;
border: 1px solid #c56426;
background-color: #ee7830;
}

.smbtnblue {
width: 100px;
display: inline-block;
border: 1px solid #2690be;
background-color: #01aef0;
}

.smbtngreenmodal {
width: 100px;
display: inline-block;
border: 1px solid #3b9a47;
background-color: #13cf56;
}

.smbtnredmodal {
width: 100px;
display: inline-block;
border: 1px solid #b40000;
background-color: #ff0000;
margin-right: 8px;
}

.managebtn, .classdetbtn {
font-family: 'ralewaylight', Helvetica, sans-serif;	
color: #ffffff;
width: 100%;
height: 40px;
cursor:pointer;
}

.managebtn {
font-size: 16px;
line-height: 20px;
border: 1px solid #2690be;
background-color: #01aef0;
}

.classdetbtn {
font-size: 18px;
line-height: 22px;
border: 1px solid #c56426;
background-color: #ee7830;
margin-bottom: 15px;
}

.smbtn:hover, .smbtnblue:hover, .smbtngreenmodal:hover, .smbtnredmodal:hover, .managebtn:hover, .classdetbtn:hover {
-moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);	
}

.smbtn:focus, .smbtnblue:focus, .smbtngreenmodal:focus, .smbtnredmodal:focus, .managebtn:focus, .classdetbtn:focus {
-moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.1);	
}

.smbtn:active, .smbtnblue:active, .smbtngreenmodal:active, .smbtnredmodal:active, .managebtn:active, .classdetbtn:active{
-moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.1);	
}

#mainlearnbtn a, #myacctbtn a, #mainfindrewbtn a, .redeemnowbtn a {
  display: block;
  font-family: 'ralewaylight', Helvetica, sans-serif;
  padding: 15px;
  text-decoration: none;
}	

#mainlearnbtn a {
  background-color: #01aef0;
  border: 1px solid #2690be;
  color: #ffffff;
  font-size: 18px;
  width: 120px;
  margin: 25px auto;
}

#mainlearnbtn a:visited {
}

#mainlearnbtn a:hover {
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

#mainlearnbtn a:focus, #mainlearnbtn a:active {  
}

#myacctbtn a {
  background-color: #ee7830;
  border: 1px solid #c56426;
  color: #ffffff;
  font-size: 18px;
  width: 120px;
  margin: 25px auto;
}

#myacctbtn a:visited {
}

#myacctbtn a:hover {
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

#myacctbtn a:focus, #myacctbtn a:active {  
}

#mainfindrewbtn a {
  background-color: #ee7830;
  border: 1px solid #c56426;
  color: #ffffff;
   font-size: 22px;
  width: 238px;
  margin: 30px auto 0 auto;
}

#mainfindrewbtn a:visited {
}

#mainfindrewbtn a:hover {
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

#mainfindrewbtn a:focus, #mainfindrewbtn a:active {
}

.redeemnowbtn a {
  background-color: #13cf56;
  border: 1px solid #3b9a47;
  color: #ffffff;
   font-size: 22px;
  width: 100%;
  margin: 0 auto 0 auto;
}

.redeemnowbtn a:visited {
}

redeemnowbtn a:hover {
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.redeemnowbtn a:focus, .redeemnowbtn a:active {
}

#mainfindrewbtn a img, .redeemnowbtn a img {
padding-left: 10px;
}

#mainlearnbtn a img, #myacctbtn a img {
float: right;
width: 15px;
height: 20px;
}

#mainfindrewbtn a img, .redeemnowbtn a img {
width: 23px;
height: 17px;
}

.detbtncont {
width: 100%;
}

a.getdetailsbtn {
border: 1px solid #2690be;
background-color: #01aef0;
display: block;
width: 110px;
height: 27px;
padding: 4px 0 0 10px;
text-align: center;
text-decoration: none;
margin: 0 auto;
cursor:pointer;
}

a.getdetailsbtn:visited {
}

a.getdetailsbtn:hover {
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);	
}

a.getdetailsbtn:focus, a.getdetailsbtn:active {
}

a.getdetailsbtn p {
float: left;
font-family: Helvetica, sans-serif;
font-size: 14px;
color: #ffffff;
}

a.backrewbtn {
border: 1px solid #2690be;
background-color: #01aef0;
display: block;
float: left;
width: 140px;
height: 27px;
padding: 4px 10px 0 0;
text-align: center;
text-decoration: none;
margin: 0 auto;
cursor:pointer;
}

a.backrewbtn:visited {
}

a.backrewbtn:hover {
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);	
}

a.backrewbtn:focus, a.backrewbtn:active {
}

a.backrewbtn p {
float: right;
font-family: Helvetica, sans-serif;
font-size: 14px;
color: #ffffff;
}

a.getdetailsbtn img, a.backrewbtn img {
width: 13px;
height: 11px;
padding-top: 2px;
}

/*  desktop sticky header  */
nav {
	width: 100%;
	padding: 15px 01.56255% 0 01.56255% /*60/3840*/;
	height: 153px;
	z-index: 999;
	background-color: #ffffff;
}

nav.my-sticky-element.stuck {
  position: fixed;
  top: 0;
}

nav a {
	text-decoration: none;
}

.navlogo, .navrightcnt {
	float: left;
	height: 100%;
}

.navlogo {
	width: 14.784946236559% /*550/3720px*/;
	text-align: left;
	background-color: #ffffff;
}

.navlogo img {
	width: 170px;
	height: 123px;		
}

.navrightcnt {
	width: 85.215053763441% /*3170/3720px*/;
}

.navlogin, .navpoints {
	width: 100%;
	text-align: right;
	margin-bottom: 42px;
}

.navlogin h6, .navlogin form, .navlogin form button, .navpoints h6 {
	display: inline-block;
}

.navlogin h6 {
	margin: 0 20px 0 0;
	vertical-align: bottom;
}

.navlogin .loginbtn {
	margin-right: 10px;
}

.navmainlinks  ul {
	float: right;
}

.navmainlinks  ul li {
	display: inline-block;
	margin-left: 10px;	
}

@media (min-width:701px) {
nav ul li a {
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;	
background-color: #f4f4f4;
	border: 1px solid #f4f4f4;
  color: #666666;
  display: inline-block;
  font-family: 'ralewaylight', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 60px;
  text-decoration: none;
}

nav ul li a:visited {
}

nav ul li a:hover {
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  background-color: #01aef0;
  border: 1px solid #2690be;
  color: #ffffff;
  transform: scale(1.07);	
}

nav ul li a:focus, nav ul li a:active, nav ul li a.active {
  background-color: #01aef0;
  border: 1px solid #2690be;
  color: #ffffff;  
}

.responsive-menu li:last-child{
	border-bottom: none;
}

ul.dropdownmenu {
	display: none;
	position: absolute;	
	top: 40;
	margin: 0;
	max-width: 170px;	
}

ul.dropdownmenu li {
margin: 0;		
}

ul.dropdownmenu li a {
font-size: 13px;
line-height: 13px;
color: #ffffff;	
background-color: #01aef0;
border: 1px solid #2690be;
padding: 15px;	
}

ul.dropdownmenu li a:visited {	
}

ul.dropdownmenu li a:focus, ul.dropdownmenu li a:hover, ul.dropdownmenu li.active a {
color: #ffffff !important;
background-color: #13cf56 !important;
border: 1px solid #3b9a47;
}

.navmainlinks ul li:hover > ul {
display: block;	
}

.mobile-nav {
display: none;
}
}
 
/*rules*/
#textwrulesabt, #textwrulesrew {
	width: 100%;
	height: 35px;
	text-align: center;
}

#textwrulesabt h4, #textwrulesrew h4 {
	display: inline-block;
}

#textwrulesabt h4 {
	display: inline-block;
	margin: 0 2% /*40/2000*/;	
}

#textwrulesrew h4 {
	margin: 0 4% /*40/1000*/;	
}

.hrabt, .hrrew {
	background-repeat: repeat-x;
	background-position: center;
	height: 10px;
	display: inline-block;
}

.hrabt {
	background-image: url(../images/hr-abt.gif);
	width: 20% /*400/2000*/;	
	max-width: 200px;
}

.hrrew {
	background-image: url(../images/hr-rew.gif);
	width: 20% /*200/1000*/;	
}

/*separators*/
.orangerevsep {
	background-image: url(../images/panelseporangerev.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 38px;	
}

/*modals*/
.popup { 
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
 
.popup-container {
  display: block;
  margin: 250px auto 0 auto;
  width: 90%;
  
}
 
.popup-content {
	text-align: center;
}

.popup-content input { 
display: block;
margin: 0 auto;
}

.popup-content input:first-of-type { 
display: block;
margin-bottom: 8px;
}


.popup-content button {    
}

 
.popup-close {
  
}

/*footer*/
footer, .push {
height: 45px;
width: 100%;
}

.footercnt {
	background-color: #662e91;
	padding: 15px; 
}

.footertxt {
	display: inline-block;
	margin-right: 10px;
}

.footertxt, .footertxt a {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #ffffff;
	text-decoration: none;	
	white-space: pre;
}

.footertxt a:visited {
}

.footertxt a:hover {
	border-bottom: 1px dotted #ffffff;	
}

.footertxt a:focus, a:active {
}

.footertxt span {
	color: #ba86e6;
}

.footertxt span.pipefoot {
	font-weight: lighter;
	font-size: 1.1em;
}

/*panel wrappers*/
#home {
position: relative;
width: 100%;
height: 900px;
overflow: hidden;
background-image: url(../images/homeimg.png);
background-size: cover;
background-position: bottom right;
background-repeat: no-repeat;
}

#homecnt, #homecnt img {
	width: 100%;
	height: 100%;
}

#busport {
	background-color: #cccccc;	
	padding: 140px 0;
}

#busportcnt{
	width: 90%;
	margin: 0 5%;
	text-align: center;
}

#about {
	background-color: #f4f4f4;	
}

#aboutcnt {
	width: 100%;
	padding: 70px 0;
	margin: 0 auto;
	text-align: center;
}

#about2 {
background-image: url(../images/notebookpaper.jpg);
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
}

#about2cnt {
	width: 75.260416666667% /*2890/3840*/;
	padding: 85px 0 70px 0;
	margin: 0 12.369791666667% /*475/3840*/;
	text-align: center;
	background-image:url(../images/panelsepf4f4f4.png);
	background-position: top center;
	background-repeat: no-repeat;
}

#rewards {
	background-color: #01aef0;
	text-align: center;
}

#rewardspancnt {
	width: 52.083333333333% /*2000/3840*/;
	padding: 70px 0;
	margin: 0 23.958333333333% /*920/3840*/;
	text-align: center;
}

#registration {
background-image: url(../images/chalkboardbg.jpg);
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
}

#regpancnttemp {
	max-width: 800px;
	min-height: 384px;
	padding: 70px 0;
	margin: 0 auto;
	text-align: center;
}

#regpancnt {
	width: 75.260416666667% /*2890/3840*/;
	min-height: 384px;
	padding: 70px 0;
	margin: 0 12.369791666667% /*475/3840*/;
	text-align: center;	
}

#myacct {
background-image: url(../images/chalkboardbg.jpg);
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
}

#myacctpancnt {
	width: 75.260416666667% /*2890/3840*/;
	padding: 70px 0;
	margin: 0 12.369791666667% /*475/3840*/;
	text-align: center;
}

#manage {
	background-color: #ee7830;
}

#managepancnt {
	width: 100%;
	padding: 55px 0 70px 0;
	text-align: center;
}

#about2cnt:after, #rewardspancnt:after, #myacctpancnt:after, #managepancnt:after, #regpancnttemp:after, #regpancnt:after {
	content: "";
	display: block;
	clear: both;	
}

#infographicpancnt {
	width: 75.260416666667% /*2890/3840*/;
	padding: 70px 0;
	margin: 0 12.369791666667% /*475/3840*/;
}

#listtemplatecnt {
	width: 500px;
	padding: 70px 0;
	margin: 0 auto;
}

#myclassespancnt {
	width: 52.083333333333% /*2000/3840*/;
	min-height: 850px;
	padding: 70px 0 0 0;
	margin: 0 23.958333333333% /*920/3840*/;
	text-align: center;	
}

.indclassespancnt {
	width: 52.083333333333% /*2000/3840*/;
	min-height: 650px;
	padding: 70px 0;
	margin: 0 23.958333333333% /*920/3840*/;
	text-align: center;	
}

#rewcentpancnt {
	padding: 75px 0 100px 0;
	margin: 0 0 0 37%;
	text-align: center;
}

.rewcentdetailpancnt {
	padding: 75px 0 100px 0;
	margin: 0 5% 0 40%;
	text-align: center;
}










