<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>fridgeworthyrewards.com</title>
<meta name="description" content="#">
<meta name="keywords" content="#">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

<!--CSS links-->
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/pages.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">

<!--JS links-->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/waypoints.sticky.js"></script>
<script type="text/javascript" src="js/parallax.js"></script>
<script type="text/javascript" src="js/retina.min.js"></script>
<script type="text/javascript" src="js/jquery.stepframemodal.js"></script>
<script type="text/javascript" src="js/fridgeworthy.js"></script>

<!--favicon-->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body class="rcbg" ontouchstart="">	

<div class="mainwrap">

<!--start sticky nav-->
<nav class="my-sticky-element">
<a href="index.html#home"><div class="navlogo"><img src="images/fwlogo-nav.png" alt="FridgeWorthy logo"></div></a>

<div class="navrightcnt">
<div class="navlogin">
      <h6>Get involved with FridgeWorthy!</h6>
      <form action="#" method="post" id="navloginbtns">
       <a href="#loginmodal" class="modal-popup"><button type="button" value="login" class="smbtn loginbtn">login</button></a>
      <a href="index.html#registrationextoffset" class="scrollbtn"><button type="button" value="register" class="smbtn">register</button></a>  
      </form>
      </div><!--end navlogin-->

<!--main desktop links--> 
<div class="navmainlinks">
<ul>
      <li><a href="index.html#home">home</a></li>
      <li><a href="index.html#aboutpanel">about us</a></li>
      <li><a href="index.html#rewardspanel" class="active">rewards</a>
          <ul class="dropdownmenu"><li><a href="rewardscenter.html">rewards center</a></li></ul>
      </li>
      <li><a href="index.html#registrationpanel">registration</a></li>
</ul>
</div><!--end menu-header-->

<div class="mobile-nav">
    <!--hamburger icon-->
    <div class="menu-btn" id="menu-btn">
          <div></div>
          <span></span>
          <span></span>
          <span></span>
    </div>
    <!--mobilelinks--> 
    <div class="responsive-menu">
          <div class="menu-header">
                <ul id="menu-mobile-menu" class="menu">
                      <li class="menu-item"><a href="index.html#home">home</a></li>
                      <li class="menu-item"><a href="index.html#aboutpanel">about us</a></li>
                      <li class="menu-item menu-item-has-children"><a href="index.html#rewardspanel">rewards</a>
                          <ul class="sub-menu">
                              <li class="menu-item"><a href="rewardscenter.html">rewards center</a></li>
                          </ul>
                      </li>
                      <li class="menu-item"><a href="index.html#registrationpanel" style="border-bottom: none;">registration</a></li>
                </ul>
          </div><!--end menu-header-->
    </div><!--end responsive-menu-->
</div><!--mobile-nav-->

</div><!--end right content-->
<div class="clear"></div><!--clear both cols-->
</nav><!--end nav-->


<!--start login-->
<div id="loginmodal" class="popup">
  <div class="popup-container">
    <div class="popup-content">
      <h5>Login Here</h5>
<form action="#" method="post">
<input type="text" placeholder="username"/>
<input type="text" placeholder="password"/> <br>     
<button type="button" value="submit" class="popup-close js-popup-close modal-close smbtnredmodal">cancel</button>             
<button type="button" value="submit" class="smbtngreenmodal">submit</button> 
</form>
</div>
</div>
</div>


<!--rewarddetail-->
<section id="rewcentdetailpanelout">
<div class="rewcentdetailpancnt">

<div class="rewardboxlg">

<div class="rewardinfo">
<div class="rewarddetcol">
<h1 class="orange">10% off Longhorn Steakhouse</h1>
<h3>This reward costs <span class="pointshighlight">120</span> fridge points</h3>
<p>Enjoy a wide variety of tasty entrees in a rustic atmosphere!</p>
</div>

<div class="rewarddetcol">
<img src="images/longhorn@2x.gif" class="rewardlogo"/>
<p><a href="#loginmodal" class="plink modal-popup">Login</a> or <a href="index.html#registrationpanel" class="plink">Register</a> to see how you can get great rewards like this one!</p>
</div>
</div>

<div class="rewarddet2ndrow">
<a href="rewardscenter.html" class="backrewbtn"><img src="images/backarrowreg.png"><p>back to rewards</p></a>
</div>



</div><!--endrewardsboxlg-->

</div><!--endrewardscentpancnt-->
<div class="push"></div><!--push content footer-->
</section><!--end rewcendetailpanel-->

<div class="push"></div>
</div><!--end mainwrap-->
<!--footer-->
<footer>
<div class="footercnt">
<ul>
<li class="footertxt">Copyright © 2014 FridgeWorthy Rewards</li>
<li class="footertxt"><a href="#">Privacy Policy</a></li>
<li class="footertxt"><span>phone:</span>  <a href="tel:1-800-555-5555">1.800.555.555</a></li>
<li class="footertxt"><span>email:</span>  <a href="mailto:support@fridgeworthyrewards.com">support@fridgeworthyrewards.com</a></li>
</ul>
</div>
</footer>
<!--end footer-->

<!--responsive menu-->
<script type="text/javascript">
jQuery(function($){
          $( '.menu-btn' ).click(function(){
          $('.responsive-menu').toggleClass('expand')
          })
        })
</script>
<script>
jQuery(document).ready(function($){
    $(".menu-item-has-children").append("<div class='open-menu-link open'>+</div>");
    $('.menu-item-has-children').append("<div class='open-menu-link close'>—</div>");
    $('.open').addClass('visible');
    $('.open-menu-link').click(function(e){
        var childMenu =  e.currentTarget.parentNode.children[1];
        if($(childMenu).hasClass('visible')){
            $(childMenu).removeClass("visible");
            $(e.currentTarget.parentNode.children[3]).removeClass("visible");
            $(e.currentTarget.parentNode.children[2]).addClass("visible");
        } else {
            $(childMenu).addClass("visible");
            $(e.currentTarget.parentNode.children[2]).removeClass("visible");
            $(e.currentTarget.parentNode.children[3]).addClass("visible");
        }
    });
});
</script>
</body>
</html>
