<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>fridgeworthyrewards.com</title>
<meta name="description" content="#">
<meta name="keywords" content="#">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

<!--CSS links-->
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/pages.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">

<!--JS links-->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/waypoints.sticky.js"></script>
<script type="text/javascript" src="js/parallax.js"></script>
<script type="text/javascript" src="js/retina.min.js"></script>
<script type="text/javascript" src="js/jquery.stepframemodal.js"></script>
<script type="text/javascript" src="js/fridgeworthy.js"></script>

<!--favicon-->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body class="indexbg" ontouchstart="">	

<div class="mainwrap">
<!--start login-->
<div id="loginmodal" class="popup">
  <div class="popup-container">
    <div class="popup-content">
      <h5>Login Here</h5>
<form action="#" method="post">
<input type="text" placeholder="username"/>
<input type="text" placeholder="password"/> <br>     
<button type="button" value="submit" class="popup-close js-popup-close modal-close smbtnredmodal">cancel</button>             
<button type="button" value="submit" class="smbtngreenmodal">submit</button> 
</form>
</div>
</div>
</div>

<!--start sticky nav-->
<nav class="my-sticky-element">
<div class="navlogo"><img src="images/fwlogo-nav.png" alt="FridgeWorthy logo"></div>

<div class="navrightcnt">
<div class="navpoints"><h6>You currently have <span class="pointshighlight">12</span> Fridge points!</h6></div>

<!--main desktop links--> 
<div class="navmainlinks">
<ul>
      <li><a href="index.html#home" class="scrollbtn">home</a></li>
      <li><a href="#aboutpanel" class="scrollbtn">about us</a></li>
      <li><a href="#rewardspanel" class="scrollbtn">rewards</a>
          <ul class="dropdownmenu"><li><a href="rewardscenter.html" class="scrollbtn">rewards center</a></li></ul>
      </li>
      <li><a href="#mystudacct" class="scrollbtn">my account</a>
          <ul class="dropdownmenu">
          <li><a href="#mypointspanel" class="scrollbtn">my points</a>
          <li><a href="#submitgradepanel" class="scrollbtn">submit a grade</a></li>
          <li><a href="#managepanel" class="scrollbtn">manage my profile</a></li>
          <li><a href="#logoutmodal" class="modal-popup">logout</a></li>
          </ul>
      </li>
</ul>
</div><!--end menu-header-->

<div class="mobile-nav">
    <!--hamburger icon-->
    <div class="menu-btn" id="menu-btn">
          <div></div>
          <span></span>
          <span></span>
          <span></span>
    </div>
    <!--mobilelinks--> 
    <div class="responsive-menu">
          <div class="menu-header">
                <ul id="menu-mobile-menu" class="menu">
                      <li class="menu-item"><a href="index.html#home" class="scrollbtn">home</a></li>
                      <li class="menu-item"><a href="#aboutpanel" class="scrollbtn">about us</a></li>
                      <li class="menu-item menu-item-has-children"><a href="#rewardspanel" class="scrollbtn">rewards</a>
                          <ul class="sub-menu">
                              <li class="menu-item"><a href="rewardscenter.html" class="scrollbtn">rewards center</a></li>
                          </ul>
                      </li>
                      <li class="menu-item menu-item-has-children"><a href="#myacct" class="scrollbtn">my account</a>
                          <ul class="sub-menu">
                            <li class="menu-item"><a href="#mypointspanel" class="scrollbtn">my points</a></li>
                              <li class="menu-item"><a href="#submitgradepanel" class="scrollbtn">submit a grade</a></li>
                              <li class="menu-item"><a href="#managepanel" class="scrollbtn">manage my profile</a></li>
                              <li class="menu-item"><a href="#logoutmodal" class="modal-popup">logout</a></li>
                          </ul>
                      </li>
                </ul>
          </div><!--end menu-header-->
    </div><!--end responsive-menu-->
</div><!--mobile-nav-->

</div><!--end right content-->
<div class="clear"></div><!--clear both cols-->
</nav><!--end nav-->

<!--start logout-->
<div id="logoutmodal" class="popup">
  <div class="popup-container">
    <div class="popup-content">
<h5>Are you sure you want to logout?</h5>
<form action="#" method="post">
<button type="button" value="no" class="popup-close js-popup-close modal-close smbtnredmodal">no</button> 
<button type="button" value="yes,logout" class="smbtngreenmodal">yes, logout</button> 
</form>	
</div>
</div>
</div>

<!--start about-->
<section id="aboutpanel">
<div id="aboutcnt">
<h3>We improve students' academic performance</h3>
    
    <div id="textwrulesabt">
      <div class="hrabt"></div>
      <h4>by showing that</h4>
      <div class="hrabt"></div>
    </div><!--end byrow-->
    
    <h1 class="orange">hard work pays off.</h1>
    
    <img src="images/goldstarrule.svg" align="golden stars">
    
    <p>At FridgeWorthy, our goal is to improve education by integrating rewards for students, teachers, and parents. We know sometimes students need motivation to keep their grades a top priority when many other activites are going on in their lives. We are here to remove the pressure from students, teachers, and parents. We want to make learning a fun, rewarding, and collaborative effort that engages the entire community. With our proud partners, we present exciting rewards that can be redeemed by FridgeWorthy members.</p>

</div>
</section>
<!--end about-->



<!--start about 2-->
<section id="aboutpanel2">
<div id="about2cnt">
<div class="forthecol" id="studentscol"> 
    <div id="studentscirc"></div>
    <h5>for the students...</h5>
    <p>Students earn points based on their quality of grades. These rewards can be redeemed for deals and items from businesses and organizations.</p><br>
    </div>
    
    <div class="forthecol" id="teacherscol">
    <div id="teacherscirc"></div>
    <h5>for the teachers...</h5>
    <p>Teachers can track students grades and accumulate their own points to use toward rewards.</p><br>
    </div>
    
    <div class="forthecol" id="parentscol">
    <div id="parentscirc"></div>
    <h5>for the parents...</h5>
    <p>Parents can get involved with their child's progress and receive notifications and status updates.</p><br>
    </div>
    
    <div class="forthecol" id="businessescol">
    <div id="businessescirc"></div>
    <h5>for the businesses...</h5>
    <p>Businesses, small and large, can gain exposure and customers from contributing to furthering future education.</p><br>
    </div>
    

<div class="clear"></div><!--clear all 4forthecolumns-->
</div><!--end about2cnt-->
</section><!--end about2-->


<!--rewards-->
<section id="rewardspanel">
<div id="rewardspancnt">
<div class="rewpanhalf">
<h3 class="white">enter</h3>   
<div id="textwrulesrew">
      <div class="hrrew"></div>
      <h4 class="white">the</h4>
      <div class="hrrew"></div>
    </div><!--end therow-->
<h1 class="whiteblue">rewards center</h1>
<div id="mainfindrewbtn"><a href="rewardscenter.html">find rewards now!<img src="images/whiterightarrow.png" alt="white right arrow"></a></div>
</div>
<div class="rewpanhalf">
<img src="images/trophy.svg" alt="trophy">
</div>
<div class="clear"></div><!--clear both rewpanhalf-->
</div><!--end rewardspancnt-->
</section><!--end reward panel-->

<!--my acct-->
<section id="mystudacct">
<!--my points-->
<section id="mypointspanel">
<div id="mypointspancnt">
<h1 class="whitedkgray">you have <span class="pointshighlight">12</span> Fridge points!</h1>
<div id="pointscirccont">
<div class="pointscirc"><a href="#" id="viewstudyguides"><h5 class="white">view<br>study guides</h5></a></div>
<div class="pointscirc"><a href="#submitgradepanel" id="submitgrade" class="scrollbtn"><h5 class="white">submit<br>a grade</h5></a></div>
<div class="pointscirc"><a href="#" id="checkprogress"><h5 class="white">check<br>progress</h5></a></div>
</div>
</div><!--end my points cnt-->
<div class="whiterevsep"></div>
</section><!--end my points panel-->



<!--submit grade-->
<section id="submitgradepanel">
<div id="submitgradepancnt">
<h1 class="blue">submit a grade</h1>
<form action="#" method="post" id="submitgrade">
<span id="selectteacher" class="custom-dropdownBlue">
<select class="customSelect">
<option value='' disabled selected style='display:none;'>select teacher</option>
        <option value="teacher1">teacher 1</option>
        <option value="teacher2">teacher 2</option>
</select>
</span>
<span id="selectassn" class="custom-dropdownBlue">
<select class="customSelect">
<option value='' disabled selected style='display:none;'>select assignment</option>
        <option value="assn1">assn 1</option>
        <option value="assn2">assn 2</option>
</select>
</span>
<input type="text" placeholder="numeric grade" id="numgrade"/>
<button type="button" value="submit" class="smbtn">submit</button>
</form>
</div>
</section><!--end submit a grade panel-->


<!--manage profile-->
<section id="managepanel">
<div id="managepancnt">

<h1 class="whiteltgray">manage your profile</h1>
<div class="managehalf" id="userinfomanage">
<div class="manageinfo">
<h3 class="bluenoshad">user info</h3>
<p>
username: mattl697<br>
name: Matt Lisivick<br>
email: lisivick@gmail.com<br>
school: Harrison High School<br>
grade: 8
</p>
</div>

</div>

<div class="managehalf" id="mailinginfomanage">
<div class="manageinfo">
<h3 class="bluenoshad">mailing info</h3>
<p>
1807 Angelisa Trail<br>
Marietta, GA
</p>
</div>

</div>

<div class="clear"></div><!--clear both cols-->
</section><!--end manage panel-->
<!--end my acct--></section>






<div class="push"></div>
</div><!--end mainwrap-->
<!--footer-->
<footer>
<div class="footercnt">
<ul>
<li class="footertxt">Copyright © 2014 FridgeWorthy Rewards</li>
<li class="footertxt"><a href="#">Privacy Policy</a></li>
<li class="footertxt"><span>phone:</span>  <a href="tel:1-800-555-5555">1.800.555.555</a></li>
<li class="footertxt"><span>email:</span>  <a href="mailto:support@fridgeworthyrewards.com">support@fridgeworthyrewards.com</a></li>
</ul>
</div>
</footer>
<!--end footer-->

<!--responsive menu-->
<script type="text/javascript">
jQuery(function($){
          $( '.menu-btn' ).click(function(){
          $('.responsive-menu').toggleClass('expand')
          })
        })
</script>
<script>
jQuery(document).ready(function($){
    $(".menu-item-has-children").append("<div class='open-menu-link open'>+</div>");
    $('.menu-item-has-children').append("<div class='open-menu-link close'>—</div>");
    $('.open').addClass('visible');
    $('.open-menu-link').click(function(e){
        var childMenu =  e.currentTarget.parentNode.children[1];
        if($(childMenu).hasClass('visible')){
            $(childMenu).removeClass("visible");
            $(e.currentTarget.parentNode.children[3]).removeClass("visible");
            $(e.currentTarget.parentNode.children[2]).addClass("visible");
        } else {
            $(childMenu).addClass("visible");
            $(e.currentTarget.parentNode.children[2]).removeClass("visible");
            $(e.currentTarget.parentNode.children[3]).addClass("visible");
        }
    });
});
</script>
</body>
</html>
