<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>fridge-worthy.com</title>
<meta name="description" content="#">
<meta name="keywords" content="#">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

<!--CSS links-->
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/pages.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">

<!--JS links-->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/waypoints.sticky.js"></script>
<script type="text/javascript" src="js/retina.min.js"></script>
<script type="text/javascript" src="js/jquery.stepframemodal.js"></script>
<script type="text/javascript" src="js/fridgeworthy.js"></script>

<!--favicon-->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body class="indexbg" ontouchstart="">	

<div class="mainwrap">
<!--starthome-->
<section id="home">
<header>
<div id="homecnt">
<div id="homecntblocks">
<div id="hardwork">
<img src="images/hardwork@2x.png" alt="Hard work pays off."/>
</div>

<div id="homeblocks">

<div id="logoblock">
<img src="images/fwlogo-main.png" alt="FridgeWorthy Logo" id="logomain"/>
<h6>We are here to improve students' learning, educators' teaching, and parents' involvement through rewards and recognition.</h6>

<div id="mainlearnbtn"><a href="#about" data-scroll="#about" class="scrollbtn">learn more<img src="images/whitedownarrow-sm.png" alt="white down arrow"></a></div>
</div>

<div id="homeformblock">
<div id="sublock">
<h1 class="whitedkorange">sign up</h1>
<h6 class="white">for emails & updates</h6>
<form action="#" method="post" id="signup">
        <input type="text" placeholder="first name" class="tfield"/>
        <input type="text" placeholder="last name" class="tfield"/>                   
        <input type="text" placeholder="email" class="tfield"/>
<span class="custom-dropdownBlue">
<select class="customSelect">
<option value='' disabled selected style='display:none;'>i am a...</option>
<option value="student">student</option>
<option value="teacher">teacher</option>
</select>
</span>
<div class="clear"></div>
<button type="button" value="submit" class="smbtnblue" style="margin-top: 10px;">submit</button>
</form>
</div>
<div id="liblock">
<h1 class="whiteblue">get involved</h1>
<h6 class="white">with FridgeWorthy!</h6>
<form action="#" method="post" id="loginmain">
<a href="#loginmodal" class="modal-popup"><button type="button" value="login" class="smbtn">login</button></a><br>
<a href="index.html#registration"><button type="button" value="register" class="smbtn">register</button></a>
</form>
</div>
</div>
</div><!--end homeblocks-->
</div>
</div>
</header>
</section>
<!--endhomecnt-->

<!--start login-->
<div id="loginmodal" class="popup">
  <div class="popup-container">
    <div class="popup-content">
      <h5>Login Here</h5>
<form action="#" method="post">
<input type="text" placeholder="username"/>
<input type="text" placeholder="password"/> <br>     
<button type="button" value="submit" class="popup-close js-popup-close modal-close smbtnredmodal">cancel</button>             
<button type="button" value="submit" class="smbtngreenmodal">submit</button> 
</form>
</div>
</div>
</div>

<!--start sticky nav-->
<nav class="my-sticky-element">
<div class="navlogo"><img src="images/fwlogo-nav.png" alt="FridgeWorthy logo"></div>

<div class="navrightcnt">
<div class="navpoints"><h6>You currently have <span class="pointshighlight">12</span> Fridge points!</h6></div>

<!--main desktop links--> 
<div class="navmainlinks">
<ul>
      <li><a href="#home" class="scrollbtn">home</a></li>
      <li><a href="#about" class="scrollbtn">about us</a></li>
      <li><a href="#rewards" class="scrollbtn">rewards</a>
          <ul class="dropdownmenu"><li><a href="rewardscenter.html">rewards center</a></li></ul>
      </li>
      <li><a href="#myacct" class="scrollbtn">my account</a>
          <ul class="dropdownmenu">
          <li><a href="myclasses.html">my classes</a>
          <li><a href="#">enroll in class</a>
          <li><a href="myclasses.html">view assignments</a>
          <li><a href="#">my rewards</a>
          <li><a href="#manage" class="scrollbtn">manage my profile</a></li>
          <li><a href="#logoutmodal" class="modal-popup">logout</a></li>
          </ul>
      </li>
</ul>
</div><!--end menu-header-->


<div class="mobile-nav">
    <!--hamburger icon-->
    <div class="menu-btn" id="menu-btn">
          <div></div>
          <span></span>
          <span></span>
          <span></span>
    </div>
    <!--mobilelinks--> 
    <div class="responsive-menu">
          <div class="menu-header">
                <ul id="menu-mobile-menu" class="menu">
                      <li class="menu-item"><a href="#home" class="scrollbtn">home</a></li>
                      <li class="menu-item"><a href="#about" class="scrollbtn">about us</a></li>
                      <li class="menu-item menu-item-has-children"><a href="#rewards" class="scrollbtn">rewards</a>
                          <ul class="sub-menu">
                              <li class="menu-item"><a href="rewardscenter.html">rewards center</a></li>
                          </ul>
                      </li>
                      <li class="menu-item menu-item-has-children"><a href="#myacct" class="scrollbtn">my account</a>
                          <ul class="sub-menu">
                           <li class="menu-item"><a href="myclasses.html">my classes</a>
                            <li class="menu-item"><a href="#">enroll in class</a>
                            <li class="menu-item"><a href="myclasses.html">view assignments</a>
                            <li class="menu-item"><a href="#">my rewards</a>
                            <li class="menu-item"><a href="#manage" class="scrollbtn">manage my profile</a></li>
                            <li class="menu-item"><a href="#logoutmodal" class="modal-popup">logout</a></li>
                          </ul>
                      </li>
                </ul>
          </div><!--end menu-header-->
    </div><!--end responsive-menu-->
</div><!--mobile-nav-->

</div><!--end right content-->
<div class="clear"></div><!--clear both cols-->
</nav><!--end nav-->

<!--start logout-->
<div id="logoutmodal" class="popup">
  <div class="popup-container">
    <div class="popup-content">
<h5>Are you sure you want to logout?</h5>
<form action="#" method="post">
<button type="button" value="no" class="popup-close js-popup-close modal-close smbtnredmodal">no</button> 
<button type="button" value="yes,logout" class="smbtngreenmodal">yes, logout</button> 
</form>	
</div>
</div>
</div>

<!--start about-->
<section id="about">
<div id="aboutcnt">
<h3>We improve students' academic performance</h3>
    
    <div id="textwrulesabt">
      <div class="hrabt"></div>
      <h4>by showing that</h4>
      <div class="hrabt"></div>
    </div><!--end byrow-->
    
    <h1 class="orange">hard work pays off.</h1>
    
    <img src="images/goldstarrule.svg" align="golden stars">
    
    <p>At FridgeWorthy, our goal is to improve education by integrating rewards for students, teachers, and parents. We know sometimes students need motivation to keep their grades a top priority when many other activites are going on in their lives. We are here to remove the pressure from students, teachers, and parents. We want to make learning a fun, rewarding, and collaborative effort that engages the entire community. With our proud partners, we present exciting rewards that can be redeemed by FridgeWorthy members.</p>

</div>
</section>
<!--end about-->



<!--start about 2-->
<section id="about2">
<div id="about2cnt">
<div class="forthecol" id="studentscol"> 
    <div id="studentscirc"></div>
    <h5>for the students...</h5>
    <p>Students earn points based on their quality of grades. These rewards can be redeemed for deals and items from businesses and organizations.</p><br>
    </div>
    
    <div class="forthecol" id="teacherscol">
    <div id="teacherscirc"></div>
    <h5>for the teachers...</h5>
    <p>Teachers can track students grades and accumulate their own points to use toward rewards.</p><br>
    </div>
    
    <div class="forthecol" id="parentscol">
    <div id="parentscirc"></div>
    <h5>for the parents...</h5>
    <p>Parents can get involved with their child's progress and receive notifications and status updates.</p><br>
    </div>
    
    <div class="forthecol" id="businessescol">
    <div id="businessescirc"></div>
    <h5>for the businesses...</h5>
    <p>Businesses, small and large, can gain exposure and customers from contributing to furthering future education.</p><br>
    </div>
    

<div class="clear"></div><!--clear all 4forthecolumns-->
</div><!--end about2cnt-->
</section><!--end about2-->


<!--rewards-->
<section id="rewards">
<div id="rewardspancnt">
<div class="rewpanhalf">
<h3 class="white">enter</h3>   
<div id="textwrulesrew">
      <div class="hrrew"></div>
      <h4 class="white">the</h4>
      <div class="hrrew"></div>
    </div><!--end therow-->
<h1 class="whiteblue">rewards center</h1>
<div id="mainfindrewbtn"><a href="rewardscenter.html">find rewards now!<img src="images/whiterightarrow.png" alt="white right arrow"></a></div>
</div>
<div class="rewpanhalf">
<img src="images/trophy.svg" alt="trophy">
</div>
<div class="clear"></div><!--clear both rewpanhalf-->
</div><!--end rewardspancnt-->
</section><!--end reward panel-->

<!--my acct-->
<section id="myacct">
<div id="myacctpancnt">
<h1 class="whitedkgray">you have <span class="pointshighlight">12</span> Fridge points!</h1>
<div id="pointscirccont">
<div class="pointscirc"><a href="myclasses.html" id="myclasses"><h5 class="white">my<br>classes</h5></a></div>
<div class="pointscirc"><a href="#" id="enrollinclass"><h5 class="white">enroll<br>in class</h5></a></div>
<div class="pointscirc"><a href="myclasses.html" id="viewassign"><h5 class="white">view<br>assignments</h5></a></div>
<div class="pointscirc"><a href="#" id="myrewards"><h5 class="white">my<br>rewards</h5></a></div>
</div>
</div>
<div class="orangerevsep"></div>
</section><!--end my acct-->

<!--manage profile-->
<section id="manage">

<div id="managepancnt">

<h1 class="whiteltgray">manage your profile</h1>
<div id="manageinnerwrap">
<div id="userinfomanage">
<p>
username: mattl697<br>
name: Matt Lisivick<br>
email: lisivick@gmail.com<br>
school: Harrison High School<br>
grade: 8
</p>
</div>

<div id="managebtns">
<form action="#" method="post">
      <a href="#"><button type="button" value="change password" id="changepassbtn" class="managebtn">change password</button></a><br>
      <a href="#"><button type="button" value="view redeemed rewards" id="viewredrewbtn" class="managebtn">view redeemed rewards</button></a>  
</form>
</div>

</div><!--end manage panel content-->
<div class="clear"></div><!--clear both cols-->
</section><!--end manage panel-->
</section><!--end my acct-->

<div class="push"></div>
</div><!--end mainwrap-->
<!--footer-->
<footer>
<div class="footercnt">
<ul>
<li class="footertxt">Copyright © 2015 FridgeWorthy, LLC</li>
<li class="footertxt"><a href="#">Privacy Policy</a></li>
<li class="footertxt"><span>phone:</span>  <a href="tel:404-444-8551">404-444-8551</a></li>
<li class="footertxt"><span>email:</span>  <a href="mailto:support@fridge-worthy.com">support@fridge-worthy.com</a></li>
</ul>
</div>
</footer>
<!--end footer-->

<!--responsive menu-->
<script type="text/javascript">
jQuery(function($){
          $( '.menu-btn' ).click(function(){
          $('.responsive-menu').toggleClass('expand')
          })
        })
</script>
<script>
jQuery(document).ready(function($){
    $(".menu-item-has-children").append("<div class='open-menu-link open'>+</div>");
    $('.menu-item-has-children').append("<div class='open-menu-link close'>—</div>");
    $('.open').addClass('visible');
    $('.open-menu-link').click(function(e){
        var childMenu =  e.currentTarget.parentNode.children[1];
        if($(childMenu).hasClass('visible')){
            $(childMenu).removeClass("visible");
            $(e.currentTarget.parentNode.children[3]).removeClass("visible");
            $(e.currentTarget.parentNode.children[2]).addClass("visible");
        } else {
            $(childMenu).addClass("visible");
            $(e.currentTarget.parentNode.children[2]).removeClass("visible");
            $(e.currentTarget.parentNode.children[3]).addClass("visible");
        }
    });
});
</script>
</body>
</html>
